
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>email</th>
      <th>ログイン日時</th>
    </tr>
  </thead>
  <% @users.each_with_index do |user, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= user.email %></td>
      <td><%= l(user.current_sign_in_at) %></td>
    </tr>
  <% end %>
</table>
<%= paginate @users %>
