<!DOCTYPE html>
<html>
<head>
  <title>認証Demo</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">認証デモ</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path)  %>
          </li>
         <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= flash_messages %>
<div class="col-md-offset-2 col-md-8">
  <% if user_signed_in? %>
    <div style="margin-bottom: 10px">
      <h3>ようこそ、<%= current_user.email%> さん</h3>
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to 'ユーザー属性編集', edit_user_registration_path %></li>
      </ul>
    </div>
  <% end %>
<%= yield %>
</div>
<div style="position:fixed;z-index:999;left:1%;bottom:5px;">
  <%= link_to '送信メールを確認', letter_opener_web_path, { class: 'btn btn-success btn-sm rounded', target: "_blank" } %>
</div>
</body>
</html>
